*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
.deps
Makefile.in
compress_gtf
cuffcompare
cuffdiff
cufflinks
cuffnorm
cuffquant
gffread
gtf_to_sam
*.a
stamp-h1
